<?xml version="1.0" encoding="UTF-8" ?>

<!--
  -  Copyright 2014 VU University Medical Center.
  -  Licensed under the Apache License version 2.0 (see http://opensource.org/licenses/Apache-2.0).
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
  -  Logging configuration for the Workflow Runner project.
  -
  -  @author <a href="mailto:f.debruijn@vumc.nl">Freek de Bruijn</a>
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="file-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="file" value="log/workflow-runner.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}(%M:%L)] %m%n"/>
        </layout>
    </appender>

    <appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}(%M:%L)] %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="off"/>
        <appender-ref ref="file-appender"/>
        <appender-ref ref="console-appender"/>
    </root>

</log4j:configuration>
