<?xml version="1.0" encoding="UTF-8" ?>

<!--
  -  Copyright 2014 VU University Medical Center.
  -  Licensed under the Apache License version 2.0 (see http://www.apache.org/licenses/LICENSE-2.0.html).
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
  -  Logging configuration for the Workflow Runner project.
  -
  -  Author: Freek de Bruijn (f.debruijn@vumc.nl).
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="file-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="file" value="src/log/workflow-runner.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}(%M:%L)] %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="trace"/>
        <appender-ref ref="file-appender"/>
    </root>

</log4j:configuration>
